.text {
    p {
        color: red;
    }
}

.btn {
    width: 40px;
    height: 20px;
    padding: 30px;
    border: 1px solid black;
    background: white;
}

.square {
    background: #fff;
    border: 1px solid #999;
    
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }

  .board-row {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .game-board {
      display: block;
  }

  .game {
    display: flex;
    flex-direction: row;
  }

  .status {
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.4;
  }
